.lmj-banner {
	color: black;
	text-align: right;
	padding: 32px;
	font-family: MontserratT;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	padding-left: 12px;
}

.lmj-logo {
	
	width: 35px;
}

.BackToHome{
	font-family: custom;
}