.lmj-plant-item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
	background: linear-gradient(#f0f0ec, #e8e6e2);
}

.lmj-plant-item {
	position: relative;
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}

.modalDescItem {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.modalDescItem .modal-content {
	background: white;
	padding: 20px;
	border-radius: 10px;
	min-width: 250px;
	width: clamp(250px, 55vw, 1400px);
}
.modalDescItem .close {
	cursor: pointer;
	font-size: 24px;
}

.price{
  	font-family: Lato, Montserrat, Helvetica, Arial, sans-serif;
}

.modal-content-baseFlex{
	display: flex;
	flex-direction: row;
	gap: 0% 5%;
	align-items: center;
	justify-content: space-around;

}

.modal-content-base-about{
	height: clamp(270px, 20vw, 450px);
	width: clamp(270px, 25vw, 550px);
	display: flex;
	flex-direction: column;
	gap: clamp(0.1%, 0.5vw, 10%);
	
	
}

.modal-content-base-about p.ItemName{
	margin: 0 2% 2% 2%;
	margin-bottom: clamp(1%, 4vw, 6%);
	display: block;
	max-width: 100%;
	text-align: center;
	color: #212121;
	font-size: clamp( 1.5em, 2vw, 3em);
	font-weight: bold;
	
}

.modal-content-base-about .ItemDesc{
	margin: 0 2% 2% 2%;
	display: block;
	max-width: 100%;
	text-align: left;
	color: #212121;
	font-size: clamp(15px, 2vw, 28px);
	
	height: 100%;
}

.modal-content-base-about .price{
	margin: 0 2% 2% 2%;
	
	max-width: 100%;
	text-align: right;
	color: #212121;
	font-size: clamp( 2px, 2vw, 40px);
	align-self: flex-end;
	
	margin-top: auto;

}

.modal-content-base-img {
	position: relative;
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}
.modal-content-base-img img{
	height: clamp(220px, 20vw, 400px);
	width: clamp(220px, 20vw, 400px);
	border-radius: 20px;
	object-fit: cover;
	background: linear-gradient(#f0f0ec, #e8e6e2);
}





@media (max-width: 750px) {
	.modal-content-baseFlex {
		display: flex;
  		flex-direction: column;
	}

	.modal-content-base-img img {
		height: clamp(220px, 20vw, 400px);
		width: clamp(220px, 20vw, 400px);
		border-radius: 20px;
		object-fit: cover;
		background: linear-gradient(#f0f0ec, #e8e6e2);
	}

	.modal-content-base-about .price {
		margin: 0 2% 2% 2%;
		margin-top: 0px;
		max-width: 100%;
		text-align: right;
		color: #212121;
		font-size: clamp( 20px, 2vw, 40px);
		align-self: flex-end;
		margin-top: auto;
	  }

	  .modal-content-base-about .ItemDesc {
		margin: 0 2% 2% 2%;
		display: block;
		max-width: 100%;
		text-align: left;
		color: #212121;
		font-size: clamp(20px, 2.8vw, 50px);
		height: 100%;
	  }
}