.BackToHome{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 1% 1%;

}

.BackToHome a{
    color: black;
    text-decoration: none;
}
.BackToHome:hover{
    text-decoration: underline;
    cursor: w-resize; 
}